.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.6rem;
  padding-bottom: 6.4rem;
}

.call {
  
}
.footer__call__container {
  border-radius: 10px;
  background-color: #030303;
  padding-top: 8.1rem;
  padding-right: 9.5rem;
  padding-bottom: 8rem;
  padding-left: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__call__content {
}
.footer__call__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: #fff7f0;
  margin-bottom: 2.5rem;
}
.footer__call__desc {
  width: 540px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 28px;
  letter-spacing: 0px;
  color: #fff7f0;
}
.btn {
}
.button2 {
}
